In [1]:
import pandas as pd

# Load the CSV with semicolons
df = pd.read_csv('Dataset Denggi Malaysia.csv', sep=';')

# Inspect the data
print("Columns:", df.columns)
print(df.head(3))

# Convert wide → long format
df_long = df.melt(id_vars=['state/year'], var_name='Year', value_name='Cases')

# Rename column
df_long.rename(columns={'state/year': 'State'}, inplace=True)

# Convert Year to int
df_long['Year'] = df_long['Year'].astype(int)

# Sort by State and Year
df_long = df_long.sort_values(['State', 'Year']).reset_index(drop=True)

# Create lag features
df_long['Cases_last_year'] = df_long.groupby('State')['Cases'].shift(1)
df_long['Cases_2yrs_ago'] = df_long.groupby('State')['Cases'].shift(2)

# 3-year rolling average
df_long['Cases_3yr_avg'] = df_long.groupby('State')['Cases'].rolling(window=3, min_periods=1).mean().reset_index(0, drop=True)

# Fill missing values for first years
df_long.fillna(0, inplace=True)

# Save ML-ready CSV
df_long.to_csv('Denggi_Malaysia_ML_Ready.csv', index=False)

# Preview the first 15 rows
print(df_long.head(15))

Columns: Index(['state/year', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019'],
      dtype='object')
     state/year  1999  2000  2001  2002  2003  2004  2005  2006  2007  ...  \
0        PERLIS    46    29   157   179   148   398   324   193   311  ...
1         KEDAH   892   471   590   751  1278  1742  1862  1907  2584  ...
2  PULAU PINANG   585   160  2288   941   746  1767  3527  2653  3106  ...

   2010  2011  2012  2013  2014  2015  2016  2017  2018  2019
0   215   110   172   226   317   258   183   175   369   288
1   782   514   817   813  1014  1000   994  1430  2190  1587
2  1834  1579   791  1053  3141  5830  2576  2681  6071  4119

[3 rows x 22 columns]
    State  Year  Cases  Cases_last_year  Cases_2yrs_ago  Cases_3yr_avg
0   JOHOR  1999    957              0.0             0.0     957.000000
1   JOHOR  2000   1434            957.0             0.0    1195.500000
2   JOHOR  2001   2346           1434.0           957.0    1579.000000
3   JOHOR  2002   3952           2346.0          1434.0    2577.333333
4   JOHOR  2003   3249           3952.0          2346.0    3182.333333
5   JOHOR  2004   3056           3249.0          3952.0    3419.000000
6   JOHOR  2005   2974           3056.0          3249.0    3093.000000
7   JOHOR  2006   2726           2974.0          3056.0    2918.666667
8   JOHOR  2007   3363           2726.0          2974.0    3021.000000
9   JOHOR  2008   3908           3363.0          2726.0    3332.333333
10  JOHOR  2009   2528           3908.0          3363.0    3266.333333
11  JOHOR  2010   4406           2528.0          3908.0    3614.000000
12  JOHOR  2011   1583           4406.0          2528.0    2839.000000
13  JOHOR  2012   1650           1583.0          4406.0    2546.333333
14  JOHOR  2013   4828           1650.0          1583.0    2687.000000

In [2]:
import pandas as pd

# Load the CSV with semicolons
df = pd.read_csv('Dataset Denggi Malaysia.csv', sep=';')

# Inspect the data
print("Columns:", df.columns)
print(df.head(3))

# Convert wide → long format
df_long = df.melt(id_vars=['state/year'], var_name='Year', value_name='Cases')

# Rename column
df_long.rename(columns={'state/year': 'State'}, inplace=True)

# Convert Year to int
df_long['Year'] = df_long['Year'].astype(int)

# Sort by State and Year
df_long = df_long.sort_values(['State', 'Year']).reset_index(drop=True)

# Create lag features
df_long['Cases_last_year'] = df_long.groupby('State')['Cases'].shift(1)
df_long['Cases_2yrs_ago'] = df_long.groupby('State')['Cases'].shift(2)

# 3-year rolling average
df_long['Cases_3yr_avg'] = df_long.groupby('State')['Cases'].rolling(window=3, min_periods=1).mean().reset_index(0, drop=True)

# Fill missing values for first years
df_long.fillna(0, inplace=True)

#  Save ML-ready CSV
df_long.to_csv('Denggi_Malaysia_ML_Ready.csv', index=False)

# Preview the first 15 rows
print(df_long.head(15))

Columns: Index(['state/year', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019'],
      dtype='object')
     state/year  1999  2000  2001  2002  2003  2004  2005  2006  2007  ...  \
0        PERLIS    46    29   157   179   148   398   324   193   311  ...
1         KEDAH   892   471   590   751  1278  1742  1862  1907  2584  ...
2  PULAU PINANG   585   160  2288   941   746  1767  3527  2653  3106  ...

   2010  2011  2012  2013  2014  2015  2016  2017  2018  2019
0   215   110   172   226   317   258   183   175   369   288
1   782   514   817   813  1014  1000   994  1430  2190  1587
2  1834  1579   791  1053  3141  5830  2576  2681  6071  4119

[3 rows x 22 columns]
    State  Year  Cases  Cases_last_year  Cases_2yrs_ago  Cases_3yr_avg
0   JOHOR  1999    957              0.0             0.0     957.000000
1   JOHOR  2000   1434            957.0             0.0    1195.500000
2   JOHOR  2001   2346           1434.0           957.0    1579.000000
3   JOHOR  2002   3952           2346.0          1434.0    2577.333333
4   JOHOR  2003   3249           3952.0          2346.0    3182.333333
5   JOHOR  2004   3056           3249.0          3952.0    3419.000000
6   JOHOR  2005   2974           3056.0          3249.0    3093.000000
7   JOHOR  2006   2726           2974.0          3056.0    2918.666667
8   JOHOR  2007   3363           2726.0          2974.0    3021.000000
9   JOHOR  2008   3908           3363.0          2726.0    3332.333333
10  JOHOR  2009   2528           3908.0          3363.0    3266.333333
11  JOHOR  2010   4406           2528.0          3908.0    3614.000000
12  JOHOR  2011   1583           4406.0          2528.0    2839.000000
13  JOHOR  2012   1650           1583.0          4406.0    2546.333333
14  JOHOR  2013   4828           1650.0          1583.0    2687.000000

In [4]:
import pandas as pd

# Read CSV
weather_df = pd.read_csv("malaysia_weather.csv")

# Strip whitespace from column names
weather_df.columns = weather_df.columns.str.strip()

# Define the columns you want
required_cols = ['State', 'Year', 
                 'Total Rainfall in millimetres', 
                 'Mean relative humidity in Percentage', 
                 'AvgTemp']

# Keep only columns that actually exist in the DataFrame
weather_df = weather_df[[col for col in required_cols if col in weather_df.columns]]

# Convert numeric columns safely
for col in ['Total Rainfall in millimetres', 'Mean relative humidity in Percentage', 'AvgTemp']:
    if col in weather_df.columns:
        weather_df[col] = pd.to_numeric(weather_df[col], errors='coerce')

print(weather_df.head())

      State  Year  Total Rainfall in millimetres  \
0     Johor  2000                         2388.3
1     Johor  2000                         2198.3
2     Kedah  2000                         2009.0
3     Kedah  2000                         2299.2
4  Kelantan  2000                         3659.5

   Mean relative humidity in Percentage
0                                  86.1
1                                  86.6
2                                  83.7
3                                  79.5
4                                  81.9

In [5]:
import pandas as pd

# Read CSV
weather_df = pd.read_csv("malaysia_weather.csv")

# Strip whitespace from column names
weather_df.columns = weather_df.columns.str.strip()

# Define the columns you want
required_cols = ['State', 'Year', 
                 'Total Rainfall in millimetres', 
                 'Mean relative humidity in Percentage', 
                 'AvgTemp']

# Keep only columns that actually exist in the DataFrame
weather_df = weather_df[[col for col in required_cols if col in weather_df.columns]]

# Convert numeric columns safely
for col in ['Total Rainfall in millimetres', 'Mean relative humidity in Percentage', 'AvgTemp']:
    if col in weather_df.columns:
        weather_df[col] = pd.to_numeric(weather_df[col], errors='coerce')

print(weather_df.head())

      State  Year  Total Rainfall in millimetres  \
0     Johor  2000                         2388.3
1     Johor  2000                         2198.3
2     Kedah  2000                         2009.0
3     Kedah  2000                         2299.2
4  Kelantan  2000                         3659.5

   Mean relative humidity in Percentage
0                                  86.1
1                                  86.6
2                                  83.7
3                                  79.5
4                                  81.9

In [8]:
import pandas as pd

# LOAD DATA

weather_df = pd.read_csv("malaysia_weather.csv")

# STANDARDIZE COLUMN NAMES

weather_df.columns = (
    weather_df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

print("Cleaned column names:", weather_df.columns.tolist())

# RENAME IMPORTANT COLUMNS

rename_map = {
    'state': 'State',
    'year': 'Year',
    'total_rainfall_in_millimetres': 'TotalRainfall',
    'mean_relative_humidity_in_percentage': 'Humidity'
}

weather_df = weather_df.rename(columns=rename_map)


# CREATE AvgTemp SAFELY

if 'avgtemp' not in weather_df.columns:

    min_temp_col = [c for c in weather_df.columns if 'minimum' in c and 'temperature' in c]
    max_temp_col = [c for c in weather_df.columns if 'maximum' in c and 'temperature' in c]

    if min_temp_col and max_temp_col:

        # Convert to numeric FIRST
        weather_df[min_temp_col[0]] = pd.to_numeric(weather_df[min_temp_col[0]], errors='coerce')
        weather_df[max_temp_col[0]] = pd.to_numeric(weather_df[max_temp_col[0]], errors='coerce')

        # Compute average
        weather_df['AvgTemp'] = (
            weather_df[min_temp_col[0]] + weather_df[max_temp_col[0]]
        ) / 2

    else:
        print("ERROR: Could not find min/max temperature columns.")


# KEEP ONLY REQUIRED FEATURES

weather_df = weather_df[['State', 'Year', 'AvgTemp', 'TotalRainfall', 'Humidity']]

# DROP MISSING ROWS

weather_df = weather_df.dropna()

# SAVE CLEAN FILE
weather_df.to_csv("clean_weather_dataset.csv", index=False)

print("\nDONE! Final dataset saved as clean_weather_dataset.csv")
print(weather_df.head())

Cleaned column names: ['state', 'selected_meteorological_station', 'height_above_mean_sea_level_in_metres', 'year', 'minimum_mean_temperature_in_celcius', 'maximum_mean_temperature_in_celcius', 'total_rainfall_in_millimetres', 'number_of_days_of_rainfall', 'mean_relative_humidity_in_percentage']

DONE! Final dataset saved as clean_weather_dataset.csv
      State  Year  AvgTemp TotalRainfall Humidity
0     Johor  2000    27.60        2388.3     86.1
1     Johor  2000    27.55        2198.3     86.6
2     Kedah  2000    28.05        2009.0     83.7
3     Kedah  2000    28.50        2299.2     79.5
4  Kelantan  2000    27.85        3659.5     81.9

In [9]:
import pandas as pd

# Load raw dataset (the one you showed)
df = pd.read_csv("clean_weather_dataset.csv")

# Replace '-' with NaN
df = df.replace("-", pd.NA)

# Convert numeric columns properly
num_cols = ["AvgTemp", "TotalRainfall", "Humidity"]
for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

# Group by State-Year and average all weather values
df_clean = df.groupby(["State", "Year"], as_index=False).mean()

# Drop rows with missing values
df_clean = df_clean.dropna()

# Save final dataset
df_clean.to_csv("weather_final.csv", index=False)

df_clean.head()

   State  Year  AvgTemp  TotalRainfall  Humidity
0  Johor  2000   27.575         2293.3     86.35
1  Johor  2001   27.575         2170.9     86.25
2  Johor  2002   27.650         2238.1     84.90
3  Johor  2003   27.550         2203.1     85.80
4  Johor  2004   27.675         2496.2     84.90

In [12]:
# Convert TotalRainfall and Humidity to numeric, coerce errors to NaN
weather_df['TotalRainfall'] = pd.to_numeric(weather_df['TotalRainfall'], errors='coerce')
weather_df['Humidity'] = pd.to_numeric(weather_df['Humidity'], errors='coerce')

# Check again
print(weather_df.dtypes)

State             object
Year               int64
AvgTemp          float64
TotalRainfall    float64
Humidity         float64
dtype: object

In [13]:
# Fill missing with mean
weather_df['TotalRainfall'].fillna(weather_df['TotalRainfall'].mean(), inplace=True)
weather_df['Humidity'].fillna(weather_df['Humidity'].mean(), inplace=True)

In [16]:
import pandas as pd

# Load datasets
dengue_df = pd.read_csv('Denggi_Malaysia_ML_Ready.csv')
weather_df = pd.read_csv('weather_final.csv')

# Normalize State names (convert both to uppercase)
dengue_df['State'] = dengue_df['State'].str.upper()
weather_df['State'] = weather_df['State'].str.upper()

# Ensure 'Year' is integer
dengue_df['Year'] = dengue_df['Year'].astype(int)
weather_df['Year'] = weather_df['Year'].astype(int)

# Filter weather dataset to match dengue dataset years (2000–2019)
weather_df = weather_df[(weather_df['Year'] >= 2000) & (weather_df['Year'] <= 2019)]

# Merge datasets on State and Year
merged_df = pd.merge(dengue_df, weather_df, on=['State', 'Year'], how='inner')

# Check the merged dataset
print(merged_df.head())

#save merged dataset
merged_df.to_csv('dengue_weather_merged.csv', index=False)

   State  Year  Cases  Cases_last_year  Cases_2yrs_ago  Cases_3yr_avg  \
0  JOHOR  2000   1434            957.0             0.0    1195.500000
1  JOHOR  2001   2346           1434.0           957.0    1579.000000
2  JOHOR  2002   3952           2346.0          1434.0    2577.333333
3  JOHOR  2003   3249           3952.0          2346.0    3182.333333
4  JOHOR  2004   3056           3249.0          3952.0    3419.000000

   AvgTemp  TotalRainfall  Humidity
0   27.575         2293.3     86.35
1   27.575         2170.9     86.25
2   27.650         2238.1     84.90
3   27.550         2203.1     85.80
4   27.675         2496.2     84.90

In [17]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
import numpy as np

# Load CSV
df = pd.read_csv("dengue_weather_merged.csv")

# Clean column names
df.columns = df.columns.str.strip()

# Encode 'State'
le = LabelEncoder()
df['State'] = le.fit_transform(df['State'])

# Feature scaling for numeric columns (except target 'Cases')
num_features = ['Cases_last_year','Cases_2yrs_ago','Cases_3yr_avg','AvgTemp','TotalRainfall','Humidity']
scaler = MinMaxScaler()
df[num_features] = scaler.fit_transform(df[num_features])

# log transform target to reduce skew
df['Cases_log'] = np.log1p(df['Cases'])  # log(1 + x) avoids log(0) issues

#  Check dataset
print(df.head())

   State  Year  Cases  Cases_last_year  Cases_2yrs_ago  Cases_3yr_avg  \
0      0  2000   1434         0.014691        0.000000       0.020553
1      0  2001   2346         0.022242        0.015143       0.027359
2      0  2002   3952         0.036679        0.022691       0.045078
3      0  2003   3249         0.062103        0.037121       0.055816
4      0  2004   3056         0.050974        0.062534       0.060017

    AvgTemp  TotalRainfall  Humidity  Cases_log
0  0.728745       0.343811  0.808118   7.268920
1  0.728745       0.297234  0.800738   7.760893
2  0.740891       0.322805  0.701107   8.282230
3  0.724696       0.309487  0.767528   8.086410
4  0.744939       0.421021  0.701107   8.025189

In [20]:
import pandas as pd

# Load dataset
pop_df = pd.read_csv('population_state.csv')

# Check columns
print(pop_df.columns)

# Convert 'date' to year
pop_df['Year'] = pd.to_datetime(pop_df['date'], errors='coerce').dt.year

# Filter years 2000-2019
pop_df = pop_df[(pop_df['Year'] >= 2000) & (pop_df['Year'] <= 2019)]

# Sum population over sex, age, ethnicity
pop_simple = pop_df.groupby(['state','Year'], as_index=False)['population'].sum()

# Check result
print(pop_simple.head())

# Save cleaned dataset
pop_simple.to_csv('population_simple.csv', index=False)

Index(['state', 'date', 'sex', 'age', 'ethnicity', 'population'], dtype='object')
   state  Year  population
0  Johor  2000     22100.0
1  Johor  2001     22639.4
2  Johor  2002     23148.2
3  Johor  2003     23632.2
4  Johor  2004     24116.5

In [21]:
import pandas as pd

# Load dengue dataset
dengue_df = pd.read_csv('dengue_weather_merged.csv')

# Load population dataset
pop_df = pd.read_csv('population_simple.csv')

# Check columns
print(pop_df.columns)  # Make sure we see the correct names

# Strip spaces and standardize state names
pop_df['state'] = pop_df['state'].str.strip().str.upper()

# Make sure 'Year' column is numeric
pop_df['Year'] = pd.to_numeric(pop_df['Year'], errors='coerce')

# Filter for years 2000-2019
pop_df = pop_df[(pop_df['Year'] >= 2000) & (pop_df['Year'] <= 2019)]

# Sum population over sex, age, ethnicity to get total population per state-year
pop_simple = pop_df.groupby(['state','Year'], as_index=False)['population'].sum()

# Standardize dengue dataset state names
dengue_df['State'] = dengue_df['State'].str.strip().str.upper()
dengue_df['Year'] = pd.to_numeric(dengue_df['Year'], errors='coerce')

# Merge population into dengue dataset
merged_df = dengue_df.merge(pop_simple, left_on=['State','Year'], right_on=['state','Year'], how='left')

# Drop duplicate 'state' column from pop dataset
merged_df = merged_df.drop(columns=['state'])

# Check for missing population values
missing = merged_df[merged_df['population'].isna()]
print("Missing population rows after merge:")
print(missing[['State','Year']].drop_duplicates())

# Save merged dataset
merged_df.to_csv('dengue_with_population.csv', index=False)

Index(['state', 'Year', 'population'], dtype='object')
Missing population rows after merge:
Empty DataFrame
Columns: [State, Year]
Index: []

In [22]:
import pandas as pd

# Load the dataset
df = pd.read_csv("dengue_with_population.csv")

# Columns to normalize
cols_to_normalize = ['Cases', 'Cases_last_year', 'Cases_2yrs_ago', 'Cases_3yr_avg']

# Normalize each column per 100,000 population
for col in cols_to_normalize:
    df[f'{col}_per_100k'] = (df[col] / df['population']) * 100000

# Check the result
print(df.head())

# Save to a new CSV
df.to_csv("dengue_data_normalized_all.csv", index=False)

   State  Year  Cases  Cases_last_year  Cases_2yrs_ago  Cases_3yr_avg  \
0  JOHOR  2000   1434            957.0             0.0    1195.500000
1  JOHOR  2001   2346           1434.0           957.0    1579.000000
2  JOHOR  2002   3952           2346.0          1434.0    2577.333333
3  JOHOR  2003   3249           3952.0          2346.0    3182.333333
4  JOHOR  2004   3056           3249.0          3952.0    3419.000000

   AvgTemp  TotalRainfall  Humidity  population  Cases_per_100k  \
0   27.575         2293.3     86.35     22100.0     6488.687783
1   27.575         2170.9     86.25     22639.4    10362.465436
2   27.650         2238.1     84.90     23148.2    17072.601757
3   27.550         2203.1     85.80     23632.2    13748.191027
4   27.675         2496.2     84.90     24116.5    12671.822196

   Cases_last_year_per_100k  Cases_2yrs_ago_per_100k  Cases_3yr_avg_per_100k
0               4330.316742                 0.000000             5409.502262
1               6334.090126              4227.143829             6974.566464
2              10134.697298              6194.866123            11134.055060
3              16722.945811              9927.133318            13466.090052
4              13472.104161             16387.120851            14177.015736

In [23]:
import pandas as pd

# Load your dataset
df = pd.read_csv("dengue_data_normalized_all.csv")

# Create Outbreak column: 1 if current cases > 3-year average, else 0
df['Outbreak'] = df.apply(lambda row: 1 if row['Cases'] > row['Cases_3yr_avg'] else 0, axis=1)

# Optional: save the updated dataset
df.to_csv("dengue_dataset_with_outbreak.csv", index=False)

print(df[['State', 'Year', 'Cases', 'Cases_3yr_avg', 'Outbreak']].head(20))

    State  Year  Cases  Cases_3yr_avg  Outbreak
0   JOHOR  2000   1434    1195.500000         1
1   JOHOR  2001   2346    1579.000000         1
2   JOHOR  2002   3952    2577.333333         1
3   JOHOR  2003   3249    3182.333333         1
4   JOHOR  2004   3056    3419.000000         0
5   JOHOR  2005   2974    3093.000000         0
6   JOHOR  2006   2726    2918.666667         0
7   JOHOR  2007   3363    3021.000000         1
8   JOHOR  2008   3908    3332.333333         1
9   JOHOR  2009   2528    3266.333333         0
10  JOHOR  2010   4406    3614.000000         1
11  JOHOR  2011   1583    2839.000000         0
12  JOHOR  2012   1650    2546.333333         0
13  JOHOR  2013   4828    2687.000000         1
14  JOHOR  2014   6323    4267.000000         1
15  JOHOR  2015  15743    8964.666667         1
16  JOHOR  2016  10641   10902.333333         0
17  JOHOR  2017   7932   11438.666667         0
18  JOHOR  2018   5885    8152.666667         0
19  JOHOR  2019  10873    8230.000000         1

In [25]:
import pandas as pd

# Load your dataset
df = pd.read_csv('dengue_dataset_with_outbreak.csv')

# Define lagged columns
lagged_cols = ['Cases_last_year', 'Cases_2yrs_ago', 'Cases_3yr_avg']

# Function to remove rows where lagged features are 0 or missing
def clean_state_data(state_df):
    # Remove rows where any lagged column is 0
    for col in lagged_cols:
        state_df = state_df[state_df[col] != 0]
    return state_df

# Apply per state
df_cleaned = df.groupby('State', group_keys=False).apply(clean_state_data)

# Reset index
df_cleaned = df_cleaned.reset_index(drop=True)

# Save cleaned dataset
df_cleaned.to_csv('dengue_dataset_cleaneddd.csv', index=False)

print("Cleaned dataset saved as 'dengue_dataset_cleaned.csv'")

Cleaned dataset saved as 'dengue_dataset_cleaned.csv'

In [26]:
import pandas as pd

# Load your dataset
df = pd.read_csv("dengue_dataset_cleaneddd.csv")

# Remove rows where lagged values are zero or missing
df_clean = df[(df['Cases_last_year'] != 0) & (df['Cases_2yrs_ago'] != 0) & (df['Cases_3yr_avg'] != 0)]

# Optional: fill remaining NaNs (if any) with 0
df_clean = df_clean.fillna(0)

# Optional: normalize numeric features (except target)
from sklearn.preprocessing import MinMaxScaler

features = df_clean.drop(columns=['State', 'Year', 'Outbreak'])
scaler = MinMaxScaler()
df_clean[features.columns] = scaler.fit_transform(features)

# Export cleaned dataset for Weka
df_clean.to_csv("dengue_weka_ready.csv", index=False)
print("Dataset cleaned and saved as 'dengue_weka_ready.csv'")

Dataset cleaned and saved as 'dengue_weka_ready.csv'